body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#screen {
    border: solid black 1px;
}