body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding: 1vw;
    border: solid black 1px;
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
}

#screen {
    border: solid black 1px;
    grid-row: 1;
    grid-column: 1/ span 3;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    font-size: 6vw;
}

.operator {
    grid-column: 4;
}

#zero {
    grid-column-start: 2;
}